@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?19813768');
  src: url('../fonts/fontello.eot?19813768#iefix') format('embedded-opentype'),
  url('../fonts/fontello.woff2?19813768') format('woff2'),
  url('../fonts/fontello.woff?19813768') format('woff'),
  url('../fonts/fontello.ttf?19813768') format('truetype'),
  url('../fonts/fontello.svg?19813768#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('/themes/redesign/dok-icons/fontello.svg?19813768#fontello') format('svg');
  }
}
*/
i[class^="icon-ic-"]:before, i[class*=" icon-ic-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-ic-add:before { content: '\e800'; } /* '' */
.icon-ic-ai:before { content: '\e801'; } /* '' */
.icon-ic-air-filter:before { content: '\e802'; } /* '' */
.icon-ic-arrow-back:before { content: '\e803'; } /* '' */
.icon-ic-arrow-downward:before { content: '\e804'; } /* '' */
.icon-ic-arrow-drop-down:before { content: '\e805'; } /* '' */
.icon-ic-arrow-drop-up:before { content: '\e806'; } /* '' */
.icon-ic-arrow-forward:before { content: '\e807'; } /* '' */
.icon-ic-arrow-upward:before { content: '\e808'; } /* '' */
.icon-ic-brake-fluid:before { content: '\e809'; } /* '' */
.icon-ic-cached:before { content: '\e80a'; } /* '' */
.icon-ic-calendar:before { content: '\e80b'; } /* '' */
.icon-ic-callback:before { content: '\e80c'; } /* '' */
.icon-ic-callback-outline:before { content: '\e80d'; } /* '' */
.icon-ic-car-repair:before { content: '\e80e'; } /* '' */
.icon-ic-catalog:before { content: '\e80f'; } /* '' */
.icon-ic-checkbox-checked-fill:before { content: '\e810'; } /* '' */
.icon-ic-chevron:before { content: '\e811'; } /* '' */
.icon-ic-chevron-down:before { content: '\e812'; } /* '' */
.icon-ic-chevron-left:before { content: '\e813'; } /* '' */
.icon-ic-chevron-top:before { content: '\e814'; } /* '' */
.icon-ic-clear:before { content: '\e815'; } /* '' */
.icon-ic-close:before { content: '\e816'; } /* '' */
.icon-ic-cloudy:before { content: '\e817'; } /* '' */
.icon-ic-comparison:before { content: '\e818'; } /* '' */
.icon-ic-content-copy:before { content: '\e819'; } /* '' */
.icon-ic-coolant:before { content: '\e81a'; } /* '' */
.icon-ic-cup:before { content: '\e81b'; } /* '' */
.icon-ic-delete-outline:before { content: '\e81c'; } /* '' */
.icon-ic-edit:before { content: '\e81d'; } /* '' */
.icon-ic-email:before { content: '\e81e'; } /* '' */
.icon-ic-error:before { content: '\e81f'; } /* '' */
.icon-ic-eye:before { content: '\e820'; } /* '' */
.icon-ic-face:before { content: '\e821'; } /* '' */
.icon-ic-feature-delivery:before { content: '\e822'; } /* '' */
.icon-ic-filter-list:before { content: '\e823'; } /* '' */
.icon-ic-garage:before { content: '\e824'; } /* '' */
.icon-ic-garage-vehicle:before { content: '\e825'; } /* '' */
.icon-ic-gasoline-filter:before { content: '\e826'; } /* '' */
.icon-ic-gas-station:before { content: '\e827'; } /* '' */
.icon-ic-groups:before { content: '\e828'; } /* '' */
.icon-ic-handyman:before { content: '\e829'; } /* '' */
.icon-ic-heart:before { content: '\e82a'; } /* '' */
.icon-ic-heart-empty:before { content: '\e82b'; } /* '' */
.icon-ic-help:before { content: '\e82c'; } /* '' */
.icon-ic-help-outlined:before { content: '\e82d'; } /* '' */
.icon-ic-history:before { content: '\e82e'; } /* '' */
.icon-ic-history-table:before { content: '\e82f'; } /* '' */
.icon-ic-info:before { content: '\e830'; } /* '' */
.icon-ic-info-outlined:before { content: '\e831'; } /* '' */
.icon-ic-local-shipping:before { content: '\e832'; } /* '' */
.icon-ic-location-outline:before { content: '\e833'; } /* '' */
.icon-ic-logo-small:before { content: '\e834'; } /* '' */
.icon-ic-menu:before { content: '\e835'; } /* '' */
.icon-ic-menu-open:before { content: '\e836'; } /* '' */
.icon-ic-notifications:before { content: '\e837'; } /* '' */
.icon-ic-notifications-off:before { content: '\e838'; } /* '' */
.icon-ic-odometr:before { content: '\e839'; } /* '' */
.icon-ic-oil:before { content: '\e83a'; } /* '' */
.icon-ic-oil-filter:before { content: '\e83b'; } /* '' */
.icon-ic-payment:before { content: '\e83c'; } /* '' */
.icon-ic-pay-parts-card:before { content: '\e83d'; } /* '' */
.icon-ic-person-outline:before { content: '\e83e'; } /* '' */
.icon-ic-photo:before { content: '\e83f'; } /* '' */
.icon-ic-photo-outline:before { content: '\e840'; } /* '' */
.icon-ic-pie-chart:before { content: '\e841'; } /* '' */
.icon-ic-plumbing:before { content: '\e842'; } /* '' */
.icon-ic-precision:before { content: '\e843'; } /* '' */
.icon-ic-price-tracker:before { content: '\e844'; } /* '' */
.icon-ic-quote-mark:before { content: '\e845'; } /* '' */
.icon-ic-rate-review:before { content: '\e846'; } /* '' */
.icon-ic-remove:before { content: '\e847'; } /* '' */
.icon-ic-return:before { content: '\e848'; } /* '' */
.icon-ic-search:before { content: '\e849'; } /* '' */
.icon-ic-share:before { content: '\e84a'; } /* '' */
.icon-ic-shopping-cart-outline:before { content: '\e84b'; } /* '' */
.icon-ic-spark-plug:before { content: '\e84c'; } /* '' */
.icon-ic-star:before { content: '\e84d'; } /* '' */
.icon-ic-star-half:before { content: '\e84e'; } /* '' */
.icon-ic-support-agent:before { content: '\e84f'; } /* '' */
.icon-ic-sync-right-left:before { content: '\e850'; } /* '' */
.icon-ic-sync-top-bottom:before { content: '\e851'; } /* '' */
.icon-ic-thumb-down:before { content: '\e852'; } /* '' */
.icon-ic-thumb-down-off-alt:before { content: '\e853'; } /* '' */
.icon-ic-thumb-up:before { content: '\e854'; } /* '' */
.icon-ic-thumb-up-off-alt:before { content: '\e855'; } /* '' */
.icon-ic-tiles:before { content: '\e856'; } /* '' */
.icon-ic-volume:before { content: '\e857'; } /* '' */
.icon-ic-volume-up:before { content: '\e858'; } /* '' */
.icon-ic-warning:before { content: '\e859'; } /* '' */
.icon-ic-work-schedule:before { content: '\e85a'; } /* '' */
.icon-ic-zoom-in:before { content: '\e85b'; } /* '' */
.icon-ic-current:before { content: '\e85c'; } /* '' */
.icon-ic-novaposhta:before { content: '\e85d'; } /* '' */
.icon-ic-play-circle-filled:before { content: '\e85e'; } /* '' */
.icon-ic-summer:before { content: '\e85f'; } /* '' */
.icon-ic-ukrposhta:before { content: '\e860'; } /* '' */
.icon-ic-warranty:before { content: '\e861'; } /* '' */
.icon-ic-self:before { content: '\e862'; } /* '' */
.icon-ic-quality-premium:before { content: '\e863'; } /* '' */
.icon-ic-personal-data:before { content: '\e864'; } /* '' */
.icon-ic-exit:before { content: '\e865'; } /* '' */
.icon-ic-category:before { content: '\e866'; } /* '' */
.icon-ic-courier-sto:before { content: '\e867'; } /* '' */
.fva__button-icon {
  background-color: #ff5245;
  position: absolute;
  top: 50%;
  right: 41px;
  transform: translate(0, -50%);
  width: 29px;
  height: 29px;
  border-radius: 50%;
  line-height: 75px;
  font-size: 16px;
}
.fva__button-icon::after {
  content: '';
  position: absolute;
  border: 4px solid transparent;
  border-top: 6px solid #fff;
  top: calc(50% - 3px);
  left: calc(50% - 4px);
}
.fva__button_disbled.fva__button-icon {
  background-color: #f1f1f1;
}
.fva__button_disbled.fva__button-icon::after {
  border-top: 6px solid #919191;
}

.favorite-heart {
  position: absolute;
  top: 15px;
  right: 0;
}

.favorite-heart.favorite-heart_empty {
  color: #171718;
}

.favorite-heart.favorite-heart_empty, .favorite-heart.favorite-heart_full {
  z-index: 2;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  background: #f5f5f5;
  display: flex;
  font-size: 24px;
  line-height: 40px;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  speak: never;
  text-decoration: inherit;
  margin-right: 2px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  margin-left: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "fontello";
}

.favorite-heart.favorite-heart_empty:before {
  content: '\e82b';
}